[Desktop Entry]
Name=Jot
Comment=Jot, a single-purpose tool for capturing a thought before it disappears.
Exec=jot
Icon=jot
Terminal=false
Type=Application
Categories=Utility;TextEditor;
Keywords=notes;quick;capture;jot;